@import "tailwindcss";

@theme {

    --font-poppins: Poppins, sans-serif;
    --color-foliage-800: #1c2428;
    --color-foliage-700: #29363c;
    --color-foliage-600: #374850;
    --color-foliage-500: #455a64;
    --color-foliage-900: #0e1214;
    --color-foliage-400: #6a7b83;
    --color-foliage-300: #8f9ca2;
    --color-foliage-200: #b5bdc1;
    --color-foliage-100: #dadee0;
    --color-peach-900: #331d0a;
    --color-peach-800: #663a14;
    --color-peach-700: #99581f;
    --color-peach-600: #cc7529;
    --color-peach-500: #ff9233;
    --color-peach-400: #ffa85c;
    --color-peach-300: #ffbe85;
    --color-peach-200: #ffd3ad;
    --color-peach-100: #ffe9d6;
    --color-ocean-900: #0c1c2f;
    --color-ocean-800: #17385e;
    --color-ocean-700: #23558d;
    --color-ocean-600: #2e71bc;
    --color-ocean-500: #3a8deb;
    --color-ocean-400: #61a4ef;
    --color-ocean-300: #89bbf3;
    --color-ocean-200: #b0d1f7;
    --color-ocean-100: #d8e8fb;

}

@layer base {  
        h1 {  
            font-size: 28px;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }

        psm {
            font-size: 14px;
        }

        pmini {
            font-size: 12px;
        }
    }

@layer components {
        .test {
            @apply flex flex-col bg-foliage-100 p-4 rounded-xl;
        }

        .test-image {
            @apply w-10 h-10 rounded-full;
        }

        .test-name {
            @apply mt-6 text-lg/8 font-semibold tracking-tight text-gray-900 dark:text-white;
        }

        .test-comment {
            @apply text-base/7 text-gray-600 dark:text-gray-400;
        }
    }